.curtain_body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.curtain{
    background-color: aqua;
    width: 100%;
    height: 98vh;
    position: relative;
    z-index: 1;
    transition: all  5s ease-out;
}
.content{
    position: absolute;
}
.btn{
    position: absolute;
    top: 49vh;
    right: 50%;
    z-index: 100;
}